ragas
langfuse
datasets
pandas
python-dotenv
openai
qdrant-client
pypdf
dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
sentence-transformers
olefile
kiwipiepy
kss
