ragas
langfuse
datasets
pandas
python-dotenv
openai
qdrant-client
pypdf
langchain
langchain-community<0.4.2
langchain-core
langchain-text-splitters
langchain-google-genai
sentence-transformers
olefile
kiwipiepy
langchain-huggingface
langchain-experimental
scikit-learn
hydra-core
omegaconf
paddleocr
paddlex
pdfplumber
hwp-hwpx-parser
func-timeout